@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap&subset=latin-ext');

html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}